body { 
  font-family: 'Permanent Marker', cursive;
  background: url(../img/bground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.intro-wrapper {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.appTitle {
  font-size: 5em;
  margin: 0;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  animation: fade-in 2s;
}

.introLogo {
  margin: 0;
  width: 650px;
  animation: rotate 1s;
}

.btn-start {
  font-size: 4em;
  font-weight: 600;
  width: 350px;
  padding: 16px;
  background-color: rgb(252, 180, 46);
  border-radius: 1em;
  box-shadow: 5px 8px 0px 0px #000;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  animation: fadebtn 2s;
}

.jokes-wrapper {
  width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: fade-in 1.5s;
  border: 1px solid #000; 
  border-radius: 2em;
  background-color: rgb(0 0 0 / 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: -2px 5px 100px #000  ;
}

.jokesimg {
  width: 400px;
  align-self: center;
}

.jokes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joke {
  max-width: 85%;
  height: 30vh;
  margin: 1em 0 0 0;
  padding: 2em;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3em;
  box-shadow: 5px 8px 0px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.joke::-webkit-scrollbar {
  -webkit-appearance: none;
}

.joke::-webkit-scrollbar:vertical {
    width: 10px;
}

.joke::-webkit-scrollbar:horizontal {
    height: 10px;
}

.joke::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #fff;
}

.joke::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
    margin: 2.5em 0 2.5em 0;
}

.jokes-wrapper p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  max-width: 100vw;
  text-align: left;
  word-wrap: break-word;
  word-break: normal ;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
  margin: auto;
}

.round-div {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.5em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 2px 2px 0px 0px #000;
}

.round-div2 {
  width: 1em;
  height: 1em;
  margin: 0.1em 1em 0 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 2px 2px 0px 0px #000;
}

.button-box {
  width: 500px;
  position: absolute;
  top: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.search {
  display: flex;
  gap: 10px;
}

.searchBar {
  width: 90%;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  box-shadow: 5px 8px 0px 0px #000;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.searchBar::placeholder {
  color: #000;
}

.searchButton {
  width: 20%;
  background-color: rgb(252, 180, 46);
  border-radius: 2em;
  box-shadow: 5px 8px 0px 0px #000;
  color: #000;
}

.searchLogo {
  width: 40%;
}

.random-btn {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  width: 500px;
  padding: 10px;
  background-color: rgb(252, 180, 46);
  border-radius: 1em;
  box-shadow: 5px 8px 0px 0px #000;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#category {
  font-size: 2em;
  width: 500px;
  padding: 5px;
  border-radius: 1em;
  background-color: rgb(252, 180, 46);
  box-shadow: 5px 8px 0px 0px #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  color: #000;
  text-align: center;
}

@keyframes fadebtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1056px) {
  .jokes-wrapper  {
    width: 90vw;
  }

}

@media only screen and (max-width: 920px) {
  .appTitle {
    text-align: center;
  }

  .jokes-wrapper p {
    font-size: 1.2em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

}

@media only screen and (max-width: 650px) {
  .container {
    padding: 1em;
  }

  .intro-wrapper {
    height: 85vh;
  }

  .appTitle { 
    font-size: 3.5em;
  }

  .btn-start {
    width: 80%;
    font-size: 3em;
  }

  .jokes-wrapper {
    height: 95vh;
    width: 95vw;
    overflow: hidden;
  }

  .joke {
    width: 100vw;
    max-height: 38vh;
    overflow-y: scroll;
  }
  
  .jokes-wrapper p {
    font-size: 1.1em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

  .jokesimg {
    max-width: 100%;
  }

  .button-box {
    width: 80vw;
    top: 65vh;
  }

  .searchBar {
    width: 100%;
  }

  .random-btn {
    width: 100%;
    top: 80%;
    font-size: 1.5em;
  }

  #category {
    width: 100%;
    font-size: 1.5em;
    padding: 6px;
  }
}

@media only screen and (max-width: 400px) {

}