:root {
  --bg-white:rgba(255, 255, 255, 0.1);
  --bg-transparent: transparent;
  --text-white: #fff;
  --text-black: #000;
  --text-shadow-black: -1px -1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000, 1px 1px 5px #000;
  --text-shadow-white: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  --button-color1: rgb(255, 255, 255);
  --button-bgcolor: rgba(255, 255, 255, 0.3);
  --button-box-shadow: 0px 0px 10px 1px #ffffff, inset 0 0 10px 1px #fff;
}

body { 
  font-family: 'Gruppo', sans-serif;
  background: url(../img/bground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.intro-wrapper {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.appTitle {
  font-size: 5em;
  margin: 0;
  color: #fff;
  text-shadow: var(--text-shadow-black);
  text-align: center;
}

.introLogo {
  margin: 0;
  width: 550px;
  animation: rotate 1s, 2s pulse 1s infinite;
}


.btn-start {
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: 5px;
  width: 350px;
  padding: 16px;
  border: 4px solid var(--button-color1);
  border-radius: 5em;
  background-color: var(--bg-white);
  box-shadow: var(--button-box-shadow);
  color: #fff;
  text-shadow: var(--text-shadow-black);
  text-transform: uppercase;
  animation: fadebtn 2s;;
}

.jokes-wrapper {
  width: 1000px;
  height: 100vh;
  margin-top: -0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: fade-in 1.5s;
  border: 5px solid #fff; 
  border-radius: 2em;
  background-color: var(--bg-white);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: var(--button-box-shadow) ;
}

.jokes-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.jokesimg {
  width: 300px;
  margin: 0 0 5em 0;
}

.jokes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.joke {
  max-width: 85%;
  max-height: 30vh;
  margin: 1em 0 0 0;
  padding: 2em;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3em;
  box-shadow: 5px 8px 0px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.joke::-webkit-scrollbar {
  -webkit-appearance: none;
}

.joke::-webkit-scrollbar:vertical {
  width: 10px;
}

.joke::-webkit-scrollbar:horizontal {
  height: 10px;
}

.joke::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #fff;
}

.joke::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  margin: 2.5em 0 2.5em 0;
}

.jokeIcon {
  width: 120px;
  align-self: flex-start;
  margin-top: -0.7em;
}

.joke p {
  font-family: 'Gruppo', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  max-width: 100vw;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
  margin: auto;
}

/* .button-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

.button-box {
  width: 400px;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.search {
  display: flex;
  gap: 10px;
}

.searchBar {
  font-size: 1em;
  width: 90%;
  padding: 1em;
  background-color: var(--button-bgcolor);
  border: 2px solid var(--button-color1);
  border-radius: 2em;
  box-shadow: var(--button-box-shadow);
  color: var(--text-white);
  text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
}

.searchBar::placeholder {
  color: var(--text-white);
}

.searchButton {
  width: 20%;
  border: 2px solid var(--button-color1);
  border-radius: 2em;
  background-color: var(--button-bgcolor);
  box-shadow: var(--button-box-shadow);
  color: var(--text-black);
}

.searchLogo {
  width: 40%;
}

.random-btn {
  font-size: 1.5em;
  width: 100%;
  padding: 10px;
  border: 2px solid var(--button-color1);
  border-radius: 5em;
  background-color: var(--button-bgcolor);
  box-shadow: var(--button-box-shadow);
  color: var(--text-white);
  text-shadow: var(--text-shadow-black);
}

#category {
  font-size: 1.5em;
  width: 100%;
  padding: 5px;
  border: 2px solid var(--button-color1);
  border-radius: 5em;
  background-color: var(--button-bgcolor);
  box-shadow: var(--button-box-shadow);
  text-shadow: var(--text-shadow-black);
  color: var(--text-white);
  text-align: center;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadebtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-right {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(150%);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-360deg);
  }
}

@media only screen and (max-width: 1056px) {
  .jokes-wrapper  {
    width: 90vw;
  }

}

@media only screen and (max-width: 920px) {
  .appTitle {
    text-align: center;
  }

  .joke p {
    font-size: 1.2em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

}

@media only screen and (max-width: 650px) {
  .container {
    padding: 1em;
  }

  .intro-wrapper {
    height: 85vh;
  }

  .appTitle { 
    font-size: 3.5em;
  }

  .btn-start {
    width: 80%;
    font-size: 3.5em;
  }

  .jokes-wrapper {
    height: 90vh;
    width: 95vw;
    overflow: hidden;
  }

  .joke {
    width: 100vw;
    padding: 2em 0;
    max-height: 25vh;
  }
  
  .jokeIcon {
    width: 70px;
    
  }

  .joke p {
    font-size: 1.1em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

  .jokesimg {
    max-width: 40%;
  }

  .button-box {
    width: 80vw;
    top: 65vh;
  }

  .searchBar {
    width: 100%;
  }

  .random-btn {
    width: 100%;
    top: 80%;
    font-size: 1.5em;
  }

  #category {
    width: 100%;
    font-size: 1.5em;
    padding: 6px;
  }
}

@media only screen and (max-height: 700px) {

  .jokesimg {
    display: none;
  }

}