body { 
  font-family: 'Permanent Marker', cursive;
  background: url(../img/bground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 99vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-wrapper {
  height: 90vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.appTitle {
  font-size: 5em;
  margin: 0;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  animation: fade-in 2s;
}

.introLogo {
  margin: 0;
  width: 650px;
  animation: rotate 1s;
}

.btn-start {
  font-size: 4em;
  font-weight: 600;
  width: 350px;
  padding: 16px;
  background-color: rgb(252, 180, 46);
  border-radius: 1em;
  box-shadow: 5px 8px 0px 0px #000;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  animation: fadebtn 2s;
}

.jokesimg {
  width: 400px;
}

.jokes-wrapper {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 1.5s;
  /* border: 1px solid #000;  */
}

.jokes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joke {
  width: 75vw;
  margin: 1em 0 0 0;
  padding: 1em;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3em;
  box-shadow: 5px 8px 0px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.jokes-wrapper p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7em;
  max-width: 100vw;
  text-align: left;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
}

.round-div {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.5em;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 2px 2px 0px 0px #000;
}

.round-div2 {
  width: 1em;
  height: 1em;
  margin: 0.1em 1em 0 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 2px 2px 0px 0px #000;
}

.random-btn {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  width: 50%;
  padding: 10px;
  position: absolute;
  top: 80%;
  background-color: rgb(252, 180, 46);
  border-radius: 1em;
  box-shadow: 5px 8px 0px 0px #000;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#category {
  font-size: 2em;
  position: absolute;
  top: 88%;
  width: 50%;
  padding: 5px;
  border-radius: 1em;
  background-color: rgb(252, 180, 46);
  box-shadow: 5px 8px 0px 0px #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  color: #000;
  text-align: center;
}

@keyframes fadebtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 920px) {
  .appTitle {
    text-align: center;
  }
}

@media only screen and (max-width: 650px) {
  .intro-wrapper {
    height: 85vh;
  }

  .appTitle { 
    font-size: 3.5em;
  }

  .btn-start {
    width: 80%;
    font-size: 3em;
  }

  .jokes-wrapper {
    height: 99vh;
    overflow-y: hidden;
  }

  .joke {
    width: 95vw;
    max-height: 38vh;
    overflow-y: scroll;
  }

  .joke::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .joke::-webkit-scrollbar:vertical {
      width: 10px;
  }

  .joke::-webkit-scrollbar:horizontal {
      height: 10px;
  }

  .joke::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
      border: 2px solid #fff;
  }

  .joke::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #fff;
      margin: 2.5em 0 2.5em 0;
  }
  
  .jokes-wrapper p {
    margin: auto;
    font-size: 1.1em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  }

  .jokesimg {
    max-width: 250px;
  }

  .random-btn {
    width: 80%;
    top: 78%;
    font-size: 1.5em;
  }

  #category {
    width: 80%;
    font-size: 1.5em;
    padding: 6px;
  }
}